@import 'app/assets/stylesheets/colors';

.Table {
  border-collapse: collapse;

  & &__header {
    background-color: $white;
    position: sticky;
    top: 0;
  }

  & &__th {
    padding: 8px;
    text-align: left;
  }

  & &__loading {
    height: 400px;
    text-align: center;
  }
}
