@import 'app/assets/stylesheets/colors';

.VoltorbFlip__VoltorbFlipInfoTile {
  color: $white;
  font-weight: bold;
  position: relative;

  & &__tile {
    vertical-align: middle;
  }

  & &__value {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
  }

  & &__count {
    position: absolute;
    right: 14px;
    top: 48px;
  }
}
