@import 'app/assets/stylesheets/colors';

.Type {
  align-items: center;
  border-radius: 4px;
  color: $white;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  padding-top: 2px;
  width: 72px;

  &--Bug {
    background-color: $bug;
  }

  &--Dark {
    background-color: $dark;
  }

  &--Dragon {
    background-color: $dragon;
  }

  &--Electric {
    background-color: $electric;
  }

  &--Fairy {
    background-color: $fairy;
  }

  &--Fighting {
    background-color: $fighting;
  }

  &--Fire {
    background-color: $fire;
  }

  &--Flying {
    background-color: $flying;
  }

  &--Ghost {
    background-color: $ghost;
  }

  &--Grass {
    background-color: $grass;
  }

  &--Ground {
    background-color: $ground;
  }

  &--Ice {
    background-color: $ice;
  }

  &--Normal {
    background-color: $normal;
  }

  &--Poison {
    background-color: $poison;
  }

  &--Psychic {
    background-color: $psychic;
  }

  &--Rock {
    background-color: $rock;
  }

  &--Steel {
    background-color: $steel;
  }

  &--Water {
    background-color: $water;
  }
}
